POSTGRES_USER=user
POSTGRES_PASSWORD=TROQUE-ESTA-SENHA
POSTGRES_DB=db

PORT=8080
JWT_SECRET=GERE-UM-SEGREDO
CORS_ALLOWED_ORIGINS=http://localhost:5173

MODERATOR_NAME=moderator
MODERATOR_PASSWORD=TROQUE-ESTA-SENHA
TIME_CLOCK_NAME=timeClock
TIME_CLOCK_PASSWORD=TROQUE-ESTA-SENHA

RUN_SEED=true
